<p id="notice"><%= notice %></p>

<div class="grid middle">
<p>
  <b><%= @texture.name %></b>
</p>

<p>
  <%= image_tag @texture.image.url(:v512) %>
</p>
</div>
<!--
<%= link_to 'Edit', edit_texture_path(@texture) %> |
-->