// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #F3FF9E;
$light-grey: rgb(200,200,200);
$barely-grey: rgb(250,250,250);
$blush: #FCF9F2;
$bright-red: #EF4343;
$coral: #FBD1AB;
$light-yellow: #FFFAD4;
$blue: rgb(0,0,200);

@mixin scale($val) {
  transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;

  transform:scale($val,$val);
  -ms-transform:scale($val,$val);
  -moz-transform:scale($val,$val);
  -webkit-transform:scale($val,$val);
  -o-transform: scale($val,$val);
}
@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}
@mixin triangle-down($w, $h, $color) {
	width: 0;
	height: 0;
	border-left: $w solid transparent;
	border-right: $w solid transparent;
	border-top: $h solid $color;
}
@mixin animate($property, $time){
  transition: $property $time;
  -moz-transition: $property $time; 
  -webkit-transition: $property $time; 
  -o-transition: $property $time;
}

@mixin shadow($val1, $val2, $val3, $val4, $color) {
	-moz-box-shadow:    $val1 $val2 $val3 $val4 $color;
	-webkit-box-shadow: $val1 $val2 $val3 $val4 $color;
	box-shadow:         $val1 $val2 $val3 $val4 $color;
}

@mixin shadow-matte($valx, $valy) {
	-moz-box-shadow:    $valx $valy black;
	-webkit-box-shadow: $valx $valy black;
	box-shadow:         $valx $valy black;
}

#main-design {
  width: 400px;
  position:relative;
  float:left;
}

#render-container {
  width: 400px;
  height: 550px;
  float: left;
}

#new_design {

}

.triangle-box {
  position: absolute;
  left: 15px;
  margin-top: 10px;
  z-index: 2;
  h3 {
    position: absolute;
    color: white;
    left: 28px;
    top: 15px;
    font-size: 20px;
    text-transform: uppercase;
    width: 140px;
    text-align: center;
  }
}
.triangle-black {
  @include triangle-down(100px, 145px, black);
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
}

#save-button  {
  width: 102px;
  height: 60px;
  padding: 50px 25px 42px 25px;
  border-radius: 102px;
  background: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  color: white;
  margin-left: -75px;
  float: left;
  @include animate(background, .5s);
}

#save-button:hover {
  background: $bright-red;
  @include animate(background, .5s);
}
#save-button:active {

}

#design-title-block {
  float: left;
  margin-top: 50px;
}

#design_title {
  padding: 3px;
  font-size: 16px;
  font-style: italic;
  float: left;
}

.section-heading {
  font-size: 18px;
  background: black;
  color: white;
  padding: 3px;
  padding-left: 6px;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#style-picker {
  width: 410px;
  float: left;
  margin-top: 40px;
}
#style-picker img{
  width: 75px;
  border: 1px solid white;
  cursor: pointer;
}
#style-picker img:hover{
  border: 1px solid $light-grey;
}

#style-picker img.selected {
  border: 1px solid black;
}

.style {
  display: inline-block;
}

#new_texture {
  border-bottom: 2px solid black;
  //border-top: 2px solid black;
  //margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: $light-yellow;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    height: 18px;
    display: inline-block;
  }
}

#artwork {
  width: 410px;
  float: left;
  margin-top: 40px;
  margin-bottom: 35px;
}

#available-artwork {
  position: relative;
  overflow: hidden;
}
#texture-picker {
  width: 275px;
  height: 150px;
  float: right;
  overflow-y: scroll;
}

.texture-option {
  width: 50px;
  height: 50px;
  padding: 3px;
  cursor: pointer;
}
.texture-option:hover {
  background: $light-grey;
}

.selected-texture {
  background: black;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 3px;
  background-image:url('img-loader.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center center;
}

#edit-button {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

#available-designs{
  float: left;
  margin-left:25px;
}
#recent-design {

}
.recent-design-group img {
  width: 150px;
}
.recent-design-group {
  width: 200px;
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(250,250,250);
  position: relative;
  cursor: pointer;
  margin: 3px;
}
.recent-design-group span {
  opacity: 0;
  background: $blush;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  a {
    font-size: 12px;
  }
}
.recent-design-group p {
  position: absolute;
  bottom:5px;
  left:0px;
  width: 100%;
}

.recent-design-group span:hover {
  background: $light-yellow;
}

.recent-design-group:hover {
  border: 1px solid $light-grey;
  span {
    opacity: 1;
  }
}
.selected-design {
  border: 1px solid black;
}

#my-closet {
  height: 550px;
  width: 120px;
  float: left;
  overflow: hidden;
  margin: 12px;
  position: relative;
  top: 120px;
  margin-left: 25px;
}
#my-closet .recent-design-group {
  width: 100px;
}

#my-closet img{
  width:100px;
}

.grid-design-group {
  width:206px;
  display: inline-block;
  text-align: center;
  border: 1px solid $barely-grey;
  background: $barely-grey;
  margin: 10px;
  position: relative;
    span {
      color: #969696;
    }
}
.grid-design-group:hover {
  border: 1px solid $light-grey;
  @include shadow-matte(-5px, 5px);
  position:relative;
  top:-3px;
  left: 3px;
}
.grid-design-group *{
  font-size: 14px;
}
.grid-design-group .close-button {
  display: none;
}
.grid-design-group:hover .close-button {
  display: inline;
}

.design-unit {
  position: relative;
}
.design-unit div {
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.design-title {
  font-size: 22px;
  padding-bottom: 10px;
}
.design-info {
  margin-top: 50px;
  float: left;
}

.design-info p{
  margin-top: 20px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 28px;
}

.active-tab {
  padding-bottom: 10px;
}

#editor {
  padding: 15px;
  border: 5px solid #DDDDDD;
  background: $blush;
  position: absolute;
  top: 10px;
  right: 50px;
  height: 560px;
  width: 266px;
  
  z-index: 3;
  @include shadow(0px, 0px, 20px, 15px, rgba(250,250,250, .6));
}
#editor span,a{
  color: rgb(150,150,150);
}

#canvas-container {
  position: relative;
  top: -3px;
  left: 0px;
  //border: 1px solid rgb(150,150,150);
  width: 256px;
  height: 256px;
  border: 5px solid black;
}

#editor canvas {
  cursor: move;
  position: absolute;
  top:0px;
  left: 0px;
  @include scale(.5);
}
#editor canvas:active {
  cursor: move;
}
#front-texture {
  z-index: 5;
}
#back-texture {
  z-index: 4;
}

#designs-info {
  margin-top: 50px;
  float: left;
}

#drawing {
 @include scale(.5);
 position: absolute;
 top: 70px;
 right:-500px;
}

#spin {
  position: absolute;
  left: 130px;
  top: 140px;
  background: white;
  opacity: .6;
  border-radius: 74px;
  padding: 8px;
}